* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #2c73d2;
  color: #fff;
  text-align: center;
}

.flex-container {
  border: 10px solid #f9f871;
  width: 80%;
  margin: 0 auto;
  padding: 0.25em;

  display: flex;
}

.flex-item {
  background: #8bee86;
  margin: 0.5em;
  padding: 0.5em;
  color: #424656;

  width: 200px;
}

.flex-item-1 {
  background: plum;
  flex: 0 1 auto; /* default */
  /* flex-grow, flex-shrink, flex-basis */

  /* flex: auto;
    equals
    flex: 1 1 auto; */
}

.flex-item-2 {
  flex: 1;
  /* grow: 1, flex-basis: 0 */
}

.flex-item-3 {
  flex: 300px;
  /* flex-basis: 300px; */
}
